{% extends 'base.html' %}

{% block content %}
{% set cid = contest['$id'] %}
  <main class="hero">
    <h1>{{ contest['name'] }}</h1>
    <p>{{ contest['description'] }}</p>
    <small class="badge info">{% if contest['closed'] %}Contest Closed{% else %}Contest Open{% endif %}</small>
    {% if role == "participant" and not contest['closed'] %}
    <div class="flex">
        <a href="/contest/{{ contest['$id'] }}/submit"><button>Submit Art</button></a>
    </div>
    {% elif role == "admin" %}
    {% set cid = contest['$id'] %}
    <div class="flex">
        <a href="/contest/{{ contest['$id'] }}/close"><button>{% if contest['closed'] %}Reopen Contest{% else %}Close Contest{% endif %}</button></a>
        <a href="/contest/{{ contest['$id'] }}/edit"><button class="secondary"><ion-icon name="create"></ion-icon></button></a>
        <a><button class="secondary" onclick="if (confirm('Are you sure you want to delete this contest? This action is irreversible.')) window.location.pathname = '/contest/{{ cid }}/delete'"><ion-icon name="trash"></ion-icon></button></a>
    </div>
    {% endif %}
    <br><br>
    <h2>Winners</h2>
    {% if winners %}
    <div class="winners">
        {% for winner in winners %}
        {% set sid = winner['$id'] %}
        <div class="card">
            <h2 class="card-title">{{ winner['title'] }}</h2>
            <p>{{ winner['description'] }}</p>
            <img style="object-fit: contain; height: 300px;" src="https://appwrite.shuchir.dev/v1/storage/buckets/submissions/files/{{ winner['fileId'] }}/view?project=jbs-art" alt="{{ winner['title'] }}" />
            <small class="badge info">{{ users[winner['userId']] }}</small>

            {% if role == "admin" %}
            <div class="card-footer">
                <a href="/contest/{{ contest['$id'] }}/submission/{{ winner['$id'] }}/winner"><button class="secondary"><ion-icon name="trophy"></ion-icon></button></a>
                <a href="/contest/{{ contest['$id'] }}/submission/{{ winner['$id'] }}/edit"><button class="secondary"><ion-icon name="create"></ion-icon></button></a>
                <a><button class="secondary" onclick="if (confirm('Are you sure you want to delete this submission? This action is irreversible.')) window.location.pathname = '/contest/{{ cid }}/submission/{{ sid }}/delete'"><ion-icon name="trash"></ion-icon></button></a>
            </div>
            {% endif %}
            {% if role == "participant" and not contest['closed'] and winner['userId'] == userId %}
            <div class="card-footer">
                <a href="/contest/{{ contest['$id'] }}/submission/{{ winner['$id'] }}/edit"><button class="secondary"><ion-icon name="create"></ion-icon></button></a>
                <a><button class="secondary" onclick="if (confirm('Are you sure you want to delete this submission? This action is irreversible.')) window.location.pathname = '/contest/{{ cid }}/submission/{{ sid }}/delete'"><ion-icon name="trash"></ion-icon></button></a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No winners yet!</p>
    {% endif %}

    <br><br>
    <h2>All Submissions</h2>
    {% if submissions %}
    <div class="submissions">
        {% for submission in submissions %}
        {% set sid = submission['$id'] %}
        {% if not submission['winner'] %}
        <div class="card">
            <h2 class="card-title">{{ submission['title'] }}</h2>
            <p>{{ submission['description'] }}</p>
            <img style="object-fit: contain; height: 300px;" src="https://appwrite.shuchir.dev/v1/storage/buckets/submissions/files/{{ submission['fileId'] }}/view?project=jbs-art" alt="{{ submission['title'] }}" />
            <small class="badge info">{{ users[submission['userId']] }}</small>
            {% if role == "admin" %}
            <div class="card-footer">
                <a href="/contest/{{ contest['$id'] }}/submission/{{ submission['$id'] }}/winner"><button class="secondary"><ion-icon name="trophy"></ion-icon></button></a>
                <a href="/contest/{{ contest['$id'] }}/submission/{{ submission['$id'] }}/edit"><button class="secondary"><ion-icon name="create"></ion-icon></button></a>
                <a><button class="secondary" onclick="if (confirm('Are you sure you want to delete this submission? This action is irreversible.')) window.location.pathname = '/contest/{{ cid }}/submission/{{ sid }}/delete'"><ion-icon name="trash"></ion-icon></button></a>
            </div>
            {% endif %}
            {% if role == "participant" and not contest['closed'] and submission['userId'] == userId %}
            <div class="card-footer">
                <a href="/contest/{{ contest['$id'] }}/submission/{{ submission['$id'] }}/edit"><button class="secondary"><ion-icon name="create"></ion-icon></button></a>
                <a><button class="secondary" onclick="if (confirm('Are you sure you want to delete this submission? This action is irreversible.')) window.location.pathname = '/contest/{{ cid }}/submission/{{ sid }}/delete'"><ion-icon name="trash"></ion-icon></button></a>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <p>No submissions yet!</p>
    {% endif %}


    </main>
{% endblock %}