{% extends 'base.html' %}
{% block content %}
    <main class="hero">
        <h1>Edit Submission</h1>
        <form method="post" enctype="multipart/form-data" action="/contest/{{ contest['$id'] }}/submission/{{ submission['$id'] }}/edit" style="width: 40%; margin-top: 0;">
            <div class="field">
                <label>Title</label>
                <input name="title" type="text" placeholder="Submission title" value="{{ submission['title'] }}" />
            </div>
        <br>
            <div class="field">
                <label>Description</label>
                <input name="description" type="text" placeholder="Submission description" value="{{ submission['description'] }}" />
            </div>
        <br>
            <div class="field">
                <label>Upload Image - You do not need to reupload your art if you aren't changing it.</label>
                <input name="file" type="file" placeholder="Art Piece" accept=".png,.jpg,.jpeg,.bmp,.svg,.tiff,.tif" />
            </div>
        <br>
        <button type="submit">Update</button>
        </form>
    </main>
{% endblock %}